.finish-lane-time {
  .finish-lane-time-enter {
    -webkit-animation-name: fadeInLeft;
    -webkit-animation-duration: .8s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    animation-name: fadeInLeft;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }

  .finish-enter.finish-enter-active {
    opacity: 0.6;
  }

  .finish-lane-time-leave {
    -webkit-animation-name: fadeOutRightBig;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    animation-name: fadeOutRightBig;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }

  .finish-leave.finish-leave-active {
    opacity: 0.1;
    }

}