@font-face {
  font-family: 'Avenir Next Condensed';
  src: url('AvenirNextCondensed-Regular.woff') format('woff'),
    url('AvenirNextCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Condensed';
  src: url('AvenirNextCondensed-Heavy.woff') format('woff'),
    url('AvenirNextCondensed-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Condensed';
  src: url('AvenirNextCondensed-HeavyItalic.woff') format('woff'),
    url('AvenirNextCondensed-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next Condensed';
  src: url('AvenirNextCondensed-Italic.woff') format('woff'),
    url('AvenirNextCondensed-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next Condensed Demi';
  src: url('AvenirNextCondensed-DemiBold.woff') format('woff'),
    url('AvenirNextCondensed-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Condensed Demi';
  src: url('AvenirNextCondensed-DemiBoldItalic.woff') format('woff'),
    url('AvenirNextCondensed-DemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next Condensed Ultra';
  src: url('AvenirNextCondensed-UltraLightItalic.woff') format('woff'),
    url('AvenirNextCondensed-UltraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next Condensed';
  src: url('AvenirNextCondensed-BoldItalic.woff') format('woff'),
    url('AvenirNextCondensed-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next Condensed';
  src: url('AvenirNextCondensed-Bold.woff') format('woff'),
    url('AvenirNextCondensed-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Condensed Ultra';
  src: url('AvenirNextCondensed-UltraLight.woff') format('woff'),
    url('AvenirNextCondensed-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Condensed';
  src: url('AvenirNextCondensed-MediumItalic.woff') format('woff'),
    url('AvenirNextCondensed-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next Condensed';
  src: url('AvenirNextCondensed-Medium.woff') format('woff'),
    url('AvenirNextCondensed-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Condensed';
  src: url('AvenirNextCondensed-BoldItalic_1.woff') format('woff'),
    url('AvenirNextCondensed-BoldItalic_1.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
