<?xml version="1.0" encoding="UTF-8"?>

<avenue>
  <versionInfo name="Resolume Arena" majorVersion="5" minorVersion="1" microVersion="2"
               revision="56477" id="1"/>
  <settings>
    <general lastOpenedDirectory1="C:\Users\smm\Documents\sports-run\arena\videos\2017-01-05-dxv"
             lastOpenedDirectory2="C:\Program Files (x86)\Resolume Arena 5.1.3"
             appStartedFirstTime="0" recentCompositions="C:\Users\smm\Documents\sports-run\arena\Run.avc&#10;C:\Users\smm\Documents\Resolume Arena 5\compositions\demo-2016-12-07.avc&#10;C:\Users\smm\Documents\Resolume Arena 5\compositions\run-2016-12-02.avc&#10;C:\Users\smm\Documents\Resolume Arena 5\compositions\run-2016-11-08.avc&#10;C:\Users\smm\Documents\sports-run\arena\Run-Scaled-Preview.avc&#10;C:\Users\smm\Documents\Resolume Arena 5\compositions\Run-Scaled-Preview.avc&#10;C:\Users\smm\Documents\Resolume Arena 5\compositions\-30PercentScale.avc&#10;C:\Users\smm\Documents\Resolume Arena 5\compositions\run-2016-11-04.avc&#10;C:\Users\smm\Documents\Resolume Arena 5\compositions\run-v02.avc&#10;C:\Users\smm\Documents\Resolume Arena 5\compositions\example.avc"
             quitConfirmationEnabled="0" showClipTimeRemaining="0"/>
    <captureDevices>
      <settings ignoreSystemBlackMagicDevices="1"/>
    </captureDevices>
    <midi>
      <settings enabled="1" midiMapFileName="" midiClockMode="1" octaveNumForMiddleC="0"
                syncDeviceName="">
        <inputDevices/>
        <outputDevices/>
        <controlSurfaces/>
      </settings>
    </midi>
    <dmx>
      <settings dmxMapFileName="" automapEnabled="1"/>
    </dmx>
    <video>
      <settings>
        <showFPS value="0"/>
        <showTestScreen value="0"/>
        <defaults>
          <playbackSettings/>
        </defaults>
        <pluginDirectories>
          <directory path="C:\Program Files (x86)\Resolume Arena 5.1.2\plugins\vfx"/>
        </pluginDirectories>
        <previewWindow x="0" y="0" w="0" h="0" saved="0" deviceId="none"/>
      </settings>
    </video>
    <audio>
      <settings>
        <DEVICESETUP deviceType="DirectSound" audioOutputDeviceName="Primary Sound Driver"
                     audioInputDeviceName="" audioDeviceRate="44100" audioDeviceBufferSize="2048"
                     audioDeviceOutChans="11"/>
        <defaults>
          <playbackSettings>
            <timelineMode value="1"/>
          </playbackSettings>
        </defaults>
        <channels>
          <masterOutputs value="1"/>
          <previewOutputs value="-1"/>
        </channels>
        <pluginDirectories>
          <directory path="C:\Program Files (x86)\Resolume Arena 5.1.2\plugins\afx"/>
        </pluginDirectories>
      </settings>
    </audio>
    <gui showAudioControls="1" showLayerPropertyPanel="1" showLayerTimelineControls="1"
         showLayerTransitionControls="1" showBrowserPanel="1" browserInPreviewMode="0"
         showHelp="1" propertyPanelLayout="3" changeFocusOnExternalTriggers="1"
         scrollClipsAndLayers="1" defaultMappingModeType="1" useUniversalFont="0"
         language="English">
      <MainComponent>
        <DeckAndPanelsComponent>
          <Layout>
            <Item index="0" minimumSize="91" maximumSize="724" preferredSize="171"/>
            <Item index="1" minimumSize="3" maximumSize="3" preferredSize="3"/>
            <Item index="2" minimumSize="350" maximumSize="4096" preferredSize="811"/>
          </Layout>
          <PanelsComponent>
            <Layout>
              <Item index="0" minimumSize="226" maximumSize="4440" preferredSize="444"/>
              <Item index="1" minimumSize="3" maximumSize="3" preferredSize="3"/>
              <Item index="2" minimumSize="678" maximumSize="4096" preferredSize="1104"/>
              <Item index="3" minimumSize="3" maximumSize="3" preferredSize="3"/>
              <Item index="4" minimumSize="226" maximumSize="4096" preferredSize="366"/>
            </Layout>
            <PropertiesPanelComponent>
              <Layout>
                <Item index="0" minimumSize="226" maximumSize="1024" preferredSize="366"/>
                <Item index="1" minimumSize="3" maximumSize="3" preferredSize="3"/>
                <Item index="2" minimumSize="226" maximumSize="1024" preferredSize="366"/>
                <Item index="3" minimumSize="3" maximumSize="3" preferredSize="3"/>
                <Item index="4" minimumSize="226" maximumSize="1024" preferredSize="366"/>
              </Layout>
            </PropertiesPanelComponent>
          </PanelsComponent>
        </DeckAndPanelsComponent>
      </MainComponent>
    </gui>
    <osc useBundles="1" mapFileName="">
      <output enabled="0" useBundles="1" port="7001" hostAddress="127.0.0.1"/>
      <input enabled="1" port="7770"/>
    </osc>
    <composition startupFileName="C:\Users\smm\Documents\sports-run\arena\Run.avc"
                 defaultWidth="640" defaultHeight="480">
      <settings>
        <recordSettings>
          <directory value="C:\Users\smm\Documents\Resolume Arena 5\recorded"/>
        </recordSettings>
      </settings>
    </composition>
    <fileLoader>
      <settings autoLoadFiles="0">
        <autoLoadDirectories>
          <directory path="C:\Program Files (x86)\Resolume Arena 5.1.3\foo"/>
        </autoLoadDirectories>
      </settings>
    </fileLoader>
  </settings>
</avenue>
